@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(28 36 52/1);
}

.bg-black\/80 {
  background-color: rgba(28,36,52,.8)
}

.bg-black\/90 {
  background-color: rgba(28,36,52,.9)
}

.bg-graydark {
  --tw-bg-opacity: 1;
  background-color: rgb(51 58 72/1)
}

.hover\:bg-graydark:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(51 58 72/1)
}

.sidebar-bg {
  --tw-text-opacity: 1;
  background-color: rgb(241 245 249/1);
}

.\!bg-primary {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(60 80 224 / var(--tw-bg-opacity))!important;
}